# Config file for automatic testing at travis-ci.org
sudo: false
language: python

python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6.0"
  - "3.6.1"

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install -r requirements.txt
  - pip install typed_ast || true

# command to run tests, e.g. python setup.py test
script: python setup.py test
cache: pip
